{% extends "layouts/private.twig" %}

{% block title %}CARRITO{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}


<table class="table m-5">
  <thead>
    <tr>
      <th scope="col">Producto</th>
	  <th scope="col">Imagen</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
  {% set total = 0 %}
	{% for i in carrito %}
    <tr>
      <td>{{ i.producto }}</td>
	  <td>{{ i.imagen }}</td>
      <td>{{ i.precio }}</td>
      <td>{{ i.cantidad }}</td>
	  {% set total = total + (i.precio * i.cantidad) %}
	</tr>
	{% endfor %}
</tbody>
    </tr>
  </tbody>
</table>

<br>

<table class="table m-5">
  <thead>
    <tr>
      <th scope="col">Total articulos</th>
      <th scope="col">Precio Envio</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ total }}</td>
      <td>10€</td>
      <td>{{ total + 10 }}€</td>
	</tr>
</tbody>
    </tr>
  </tbody>
</table>

<div class="m-5">
	<input class="btn btn-primary" type="submit" value="Actualizar carrito">
		</form>
		<a href="{{ URL }}?controller=carrito&action=deleteAll" >
			<input class="btn btn-danger" type="submit" value="Eliminar productos">
		</a>
		<a href="{{ URL }}?controller=pedidos&action=save" >
			<input class="btn btn-success" type="submit" value="Finalizar compra">
		</a>
</div>


	<!-- end cart -->
{% endblock %}

{% block script %}

{% endblock %}
