<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/bootstrap/dist/js/jquery.js"></script>


    {% block style %}{% endblock %}
</head>
<body>
<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
            <img src="assets/img/logoNegativo.png" width="14%">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white ms-2" aria-current="page" href="{{ URL }}?controller=auth&action=home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ URL }}?controller=productos&action=index">Productos</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{{ URL }}?controller=users&action=index">Usuarios</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{{ URL }}?controller=pedidos&action=index">Pedidos</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{{ URL }}?controller=categorias&action=index">Categorias</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button type="button" class="btn btn-warning me-1"><a class="nav-link px-2 text-white" href="#"><i class="fas fa-user"></i><img class="me-2" src="assets/img/person.png" width="25"> {{ identity.nombre |capitalize }} {{ identity.apellidos |title }}</a></button>
			  <button type="button" class="btn btn-outline-light me-2"><a class="nav-link px-2 text-white" href="{{ URL }}?controller=auth&action=logout">Cerrar sesión</a></button>
       
      </form>
    </div>
  </div>
</nav>


    {% block content %} 
    
    {% endblock %}
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 ">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/instagram.svg"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/facebook.svg"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/twitter.svg"></a></li>
    </ul>
  </footer>
	<!-- end copyright -->	
</body>
</body>

{% block script %}{% endblock %}
</html>