<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/bootstrap/dist/js/jquery.js"></script>


    {% block style %}{% endblock %}
</head>
<body>
<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="assets/img/logoNegativo.png" width="17%">
        <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			<li class="me-1">
				<a href="{{ URL }}?controller=auth&action=welcome" class="nav-link px-2 text-white">
					<svg width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
						<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"></path>
					</svg><span class="m-2">Home<span>
				</a>
			</li>
			<li class="me-1">
				<a href="{{ URL }}?controller=index&action=shop" class="nav-link px-2 text-white">
					<svg width="25" height="25" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
						<path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
					</svg><span class="m-2">Shop<span>
				</a>
			</li>
		</ul>
		<!--
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
		-->
        <div class="text-end">
			<button type="button" class="btn btn-danger"><a class="nav-link px-2 text-white" href="{{ URL }}?controller=auth&action=perfil"><img class="me-2" src="assets/img/person.png" width="25">{{ identity.nombre |capitalize }}</a></button>
			<button type="button" class="btn btn-info"><a class="nav-link px-2 text-white" href="{{ URL }}?controller=carrito&action=index"><img class="me-2" src="assets/img/bag.png" width="25">Carrito</a></button>
			<button type="button" class="btn btn-outline-light me-2"><a class="nav-link px-2 text-white" href="{{ URL }}?controller=auth&action=logout">Cerrar sesión</a></button>
        </div>
      </div>
    </div>
  </header>
   
	<!-- end header -->

    {% block content %} 
    
    {% endblock %}
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 ">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/instagram.svg"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/facebook.svg"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="assets/img/twitter.svg"></a></li>
    </ul>
  </footer>
	<!-- end copyright -->	
</body>
</body>

{% block script %}{% endblock %}
</html>