{% extends "layouts/admin.twig" %}

{% block title %} PRODUCTOS | EDIT {% endblock %}

{% block style %}

{% endblock %}

{% block content %} 

<form class="m-5" action="{{ URL }}?controller=productos&action=update" method="POST" method="POST">
	<table class="table">
	<thead>
		<tr>
		<th scope="col form-label"></th>
		<th scope="col form-label">Marca</th>
		<th scope="col form-label">Nombre</th>
		<th scope="col form-label">Descripcion</th>
		<th scope="col form-label">Precio</th>
		<th scope="col form-label">Stock</th>
		<th scope="col form-label">Imagen</th>
		<th scope="col form-label"></th>

		</tr>
	</thead>
	<tbody>
		<tr>
		<th scope="row"><input class="form-control" type="hidden" name="id"  value="{{ producto.id }}"></th>
		<td><input class="form-control" type="text" id="categoria" name="categoria" value="{{ producto.idCategorias }}" placeholder="Categoria"></td>
		<td><input class="form-control" type="text" id="nombre" name="nombre" value="{{ producto.nombre }}" placeholder="nombre"></td>
		<td><input class="form-control" type="text" id="descripcion" name="descripcion" value="{{ producto.descripcion }}" placeholder="descripcion"></td>
		<td><input class="form-control" type="number" step="0.01" id="precio" name="precio"  value="{{ producto.precio }}"placeholder="precio"></td>
		<td><input class="form-control" type="number" id="stock" name="stock"  value="{{ producto.stock }}"placeholder="stock"></td>
		<td>
			<input class="form-control" type="file" id="image" name="image"  value="{{ producto.image }}"placeholder="image">
		</td>
		<td><button class="btn btn-warning" type="submit">Actualizar</button></td>
		</tr>
	</tbody>
	</table>
</form>



  
{% endblock %}