{% extends "layouts/admin.twig" %}

{% block title %}Home{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}	

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<div id="admin" class="container-fluid text-center">
	<br><br><br>
	<h1 class="text-white display-1"><strong>BIENVENIDO A LA ZONA DE ADMINISTRACION {{ identity.nombre |upper }}<strong></h1>
	<h1 class="text-white m-5">Pulsa en cualquier boton del menu para administrar<h1>
	<br>
	<a href="{{ URL }}?controller=productos&action=index" class="btn btn-danger text-white"><h3>Productos</h3></a>
	<a href="{{ URL }}?controller=users&action=index" class="btn btn-danger text-white"><h3>Usuarios</h3></a>
	<a href="{{ URL }}?controller=pedidos&action=index" class="btn btn-danger text-white"><h3>Pedidos</h3></a>
	<a href="{{ URL }}?controller=categorias&action=index" class="btn btn-danger text-white"><h3>Categorias</h3></a>

	</div>

{% endblock %}

{% block script %}

{% endblock %}