{% extends "layouts/private.twig" %}

{% block title %}Home{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}

<!-- products -->

    <div class="container mt-5">
      <div class="row">
                {% for u in productos %}
        <div class="col">
          <h1 class="text-start fs-3">{{ u.nombre }}</h1>
          <div class="card" style="width: 18rem">
            <img src=".." class="card-img-top bg-secondary p-5 bg-opacity-25" alt="" />
            <div class="card-body">
              <p class="card-text">Precio: {{ u.precio }} €</p>
              <p class="card-text">Cantidad diposnible{{ u.stock }} </p>

              <a href="{{ URL }}?controller=carrito&action=agregar&id={{ u.id }}" class="btn btn-outline-info">Agregar</a>
            </div>
          </div>
        </div>
                {% endfor %}
        </div>
    </div>
	<!-- end products -->

{% endblock %}

{% block script %}

{% endblock %}