{% extends "layouts/admin.twig" %}

{% block title %} USUARIOS | EDIT {% endblock %}

{% block content %} 

<form class="m-5" action="{{ URL }}?controller=users&action=update" method="POST" method="POST">
	<table class="table">
	<thead>
		<tr>
		<th scope="col form-label"></th>
		<th scope="col form-label">Nombre</th>
		<th scope="col form-label">Apellidos</th>
		<th scope="col form-label">Email</th>
		<th scope="col form-label">Rol</th>
		<th scope="col form-label">Contraseña</th>
		<thscope="col form-label"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<th scope="row"><input class="form-control" type="hidden" name="id"  value="{{ user.id }}"></th>
		<td><input class="form-control" type="text" id="nombre" name="nombre"  value="{{ user.nombre }}" placeholder="nombre"></td>
		<td><input class="form-control" type="text" id="apellidos" name="apellidos"  value="{{ user.apellidos }}" placeholder="apellidos"></td>
		<td><input class="form-control" type="email" id="email" name="email"  value="{{ user.email }}" placeholder="email"></td>
		<td><input class="form-control" type="text" id="rol" name="rol"  value="{{ user.rol_id }}" placeholder="rol"></td>
		<td><input class="form-control" type="password" id="password" name="password" placeholder="password"></td>
		<td><button class="btn btn-warning" type="submit">Actualizar</button></td>
		</tr>
	</tbody>
	</table>
</form>
   
{% endblock %}