{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/admin.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="m-5">
    <a href="{{ URL.URL }}?controller=users&action=create" class="btn btn-info">Create</a>
    
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {# Bucle en Twig #}
        {% for u in users %}
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.nombre }}</td>
                <td>{{ u.apellidos }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.nombreRol }}</td>
                <td></td>
                <td>
                    <a href="{{ URL.URL }}?controller=users&action=edit&id={{ u.id }}" class="btn btn-warning">Edit</a>
                    <a href="{{ URL.URL }}?controller=users&action=show&id={{ u.id }}" class="btn btn-success">Show</a>
                    <a href="{{ URL.URL }}?controller=users&action=delete&id={{ u.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  
{% endblock %}